<div class="pagination">
  <div class="pagination-info body-copy">Showing <span class="episode-count">1–40</span> of {{ site.data[include.data] | size }} available episodes</div>
  <div class="carousel body-copy">
    <div class="wrapper button"><span class="pageText">Page </span> 1</div>
    <div class="wrapper button"><span class="pageText">Page </span> 2</div>
    <div class="wrapper button"><span class="pageText">Page </span> 3</div>
    <div class="wrapper button"><span class="pageText">Page </span> 4</div>
  </div>
</div>
